h1
{
    position: relative;
    color: #333;
    display: inline-block;
    margin: 47px 0;
    text-shadow: 0 0 2px white;
}

h1:before
{
    content: "";
    position: absolute;
    background: #a9e1ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    border: dashed 1px white;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
    box-shadow: 0px 0px 0px 5px #a9e1ff;
}

body
{
    background-image: url('背景4.jpg');
}

.game
{
    width: 500px;
    height: 300px;
    position: relative;
    background-color: white;
    overflow: hidden;
    text-align:  center;
}

.game > canvas
{
    position: absolute;
}

.st
{
    display: block;
    margin-top: 120px;
    margin-left: 220px;
}

.ene
{
    top: 230px;
    left: 430px;
}

.eneb
{
    top: 240px;
    left: 410px;
    display: block;
}

.pla
{
    top: 230px;
    left: 20px;
}

.plab
{
    top: 245px;
    left: 70px;
    display: block;
}
